.container {    
    width: max-content;
    height: auto;
    border-radius: 5px;
    padding: 1px 7px;
    box-shadow: 1px 1px 1px #0223;
}

.att {
    text-align: left;
    font-size: small;
    font-family: Arial, Helvetica, sans-serif;
} 