.background {
    height: 100%; 
    width: 10%; 
    background-color: #e6e6e6;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 0.5rem;
    overflow: hidden;
    border-radius: 10px;
    border-left: 1px solid #E5E5E5;
    border-top: 1px solid #E5E5E5;
    box-shadow: 2px 2px 2px #0223;
}

.image {
    border-radius: 3px;
    background-color: #a9a9a9;
    margin-top: 0.5rem;
    width: 90%;
    min-height: 150px;
    margin-bottom: 10px;
    align-self: center;
}

.text {
    padding-bottom: 3px; 
    margin-bottom: 3px;
}

.overlay {
    margin-left: 7px;
}